/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28/03/2019, 10:20:08 PM
    Author     : ailyn
*/

* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background: #f1f1f1;
}

.column {
  color: black;
  float: left;
  width: 50%;
}
.row:after {
  color: black; 
  content: "";
  display: table;
  clear: both;
}


.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.topnav {
  overflow: hidden;
  background-color: #8A2BE2;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}

#mapa{
    width: 100%;
    height: 100%;
}