body{
    overflow-y:hidden;
    overflow-x: hidden;
}

#fondo{
    position: absolute;
    width: 100%;
    height: 110%;  
    margin-top: -10px;
}

#logo{
    position: absolute;
    margin-top: 20px;
    margin-left: 71px;
    float: left;
    width: 120px;
    height: 120px;
    
}

#faq{
   position: relative;
   margin-top: 60px;
   margin-right: 70px;
   float: right;
   color: #48C9B0;
   font-weight: bolder;
}

#contacto{
   position: relative;
   margin-top: 60px;
   margin-right: 90px;
   float: right;
   color: #48C9B0;
   font-weight: bolder;   
}

#cerrar_sesion{
    position: relative;
    margin-top: 60px;
    margin-right: 90px;
    float: right;
    color: #589DE1;
    font-weight: bolder;
}





#mapa2{
    position: relative;
    height: 450px;  
    width: 50%; 
    margin-top: 190px;
     margin-left: 50px;
    float: left;
}

#agrega_comentario{
    position: relative;
    margin-right: 15%;
    margin-top: 3.5%;
    float:right;
}

#boton_agregar_coment{
    position: relative;
    margin-top: 0.5%;
    margin-right: 15%;
    float: right;
    color: #589DE1;
    
}


#muestra_comentarios{
    position: relative;
    margin-top: 1.6%;
    margin-right: 5%;
    float: right;
    height: 10% !important;
    width: 40% !important;
}


#menu_comentarista{
    position: relative; 
    float: right;
    margin-right: 33%;
}

#form{
    position: relative;
    margin-top: 300px;
    margin-right: -100px;
    float:right;
    
}